<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragment :: head">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- Start Main Top -->
<div class="main-top" th:replace="fragment :: main-top"></div>
<!-- End Main Top -->

<!-- Start Header -->
<header th:replace="fragment :: main-header"></header>
<!-- End Header -->

<!-- Start Top Search -->
<div th:replace="fragment :: search"></div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Checkout</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item active">Checkout</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 mb-3">
                <div th:if="${message}" class="text-center alert-warning alert col-2 right">
                    <p th:text="${message}"></p>
                </div>
                <div class="checkout-address">
                    <div class="title-left">
                        <h3>Billing address</h3>
                    </div>
                    <form class="needs-validation" novalidate th:object="${customer}">

                        <div class="mb-3">
                            <label for="username">Username *</label>
                            <div class="input-group">
                                <p class="form-control" id="username" placeholder="" th:text="${customer.username}"></p>

                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="name">Full Name </label>
                            <div class="input-group">
                                <p class="form-control" id="name" placeholder="" th:text="${customer.firstName} + ' ' + ${customer.lastName}"></p>

                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="phone">Phone Number *</label>
                            <p th:text="${customer.phoneNumber}" class="form-control" id="phone"></p>

                        </div>
                        <div class="mb-3">
                            <label for="address">Address *</label>
                            <p th:text="${customer.address + ', ' + customer.city + ', ' + customer.country}"
                               class="form-control" id="address"></p>

                        </div>

                        <hr class="mb-4">
                        <div class="title"><span>Payment Methods</span></div>
                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="cash" name="paymentMethod" type="radio" class="custom-control-input" checked
                                       required>
                                <label class="custom-control-label" for="cash">Cash</label>
                            </div>
                            <br>
                            <div class="custom-control custom-radio">
                                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input">
                                <label class="custom-control-label" for="paypal">Paypal</label>
<!--                                <div style="color: #f33232; font-size: 12px;"> Sorry we currently do not support this-->
<!--                                    payment method.-->
<!--                                </div>-->
                            </div>
                        </div>

                        <hr class="mb-1">
                    </form>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="col-md-12 col-lg-12">
                    <div class="odr-box">
                        <div class="title-left">
                            <h3>Shopping cart</h3>
                        </div>
                        <div id="orderId" th:text="${cart.id}" style="display: none;"></div>
                        <div class="rounded p-2 bg-light" th:each="item : ${cart.cartItem}">
                            <div class="media mb-2">
                                <div class="media-body"><a th:href="@{/product-detail/{id} (id = ${item.product.id})}"
                                                           th:text="${item.product.name}"></a>
                                    <div class="small text-muted">Price: $[[${item.product.costPrice}]] <span
                                            class="mx-2">|</span> Qty: [[${item.quantity}]] <span class="mx-2">|</span>
                                        Sale: [[${item.product.salePrice}]]% <span class="mx-2">|</span> Total: $[[${item.totalPrice}]]
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-2" style="margin-top: -8px;">

                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="order-box">
                        <div class="title-left">
                            <h2><b>Your order</b></h2>
                        </div>
                        <div class="d-flex">
                            <div class="font-weight-bold">Product</div>
                            <div class="ml-auto font-weight-bold">Total</div>
                        </div>
                        <hr class="my-1">
                        <div class="d-flex">
                            <h4>Sub Total</h4>
                            <div class="ml-auto font-weight-bold" th:text="'$' + ${cart.total}"></div>
                        </div>
                        <div class="d-flex">
                            <h4>Discount</h4>
                            <div class="ml-auto font-weight-bold" th:text="'$' + ${cart.discountFee}"> $0</div>
                        </div>
                        <hr class="my-1">

                        <div class="d-flex">
                            <h4>Shipping Cost</h4>
                            <div class="ml-auto font-weight-bold"> Free</div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Grand Total</h5>
                            <div class="ml-auto h5" th:text="'$' + ${cart.totalPrices}"></div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div th:if="${error}">
                    <p th:text="${error}" class="alert-warning alert text-center"></p>
                </div>
                <a id="checkoutButton" th:href="@{/save-order}" class="ml-auto btn hvr-hover text-white float-right">Place Order</a>

            </div>
        </div>
    </div>

</div>
</div>
<!-- End Cart -->

<!-- Start Feed  -->
<div class="instagram-box" th:replace="fragment :: instagram-box"></div>
<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="fragment :: footer"></footer>
<!-- End Footer  -->
<footer th:replace="fragment :: chat-bot"></footer>
<!-- End All Title Box -->
<div><a href="#" id="back-to-top" title="Back to top" style="display: none; padding-top: 8px;">&uarr;</a></div>

<!--JS files-->
<div th:replace="fragment :: script"></div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var paypalRadio = document.getElementById("paypal");
    var checkoutButton = document.getElementById("checkoutButton");
    var cashRadio = document.getElementById("cash");
    var orderId = document.getElementById("orderId").innerText;

    paypalRadio.addEventListener("change", function () {
      if (paypalRadio.checked) {
        // Thay đổi văn bản của nút
        checkoutButton.textContent = "Proceed to Paypal";
        // Thay đổi URL đích của nút
        checkoutButton.setAttribute("href", "/shop/payment/create");
      }
    });

    cashRadio.addEventListener("change", function () {
      if (cashRadio.checked) {
        // Reset văn bản của nút và URL
        checkoutButton.textContent = "Place Order";
        checkoutButton.setAttribute("href", "/shop/save-order");
      }
    });
  });
</script>

</body>

</html>