<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragment :: head"></head>

<body>
<!-- Start Main Top -->
<div th:replace="fragment::main-top"></div>
<!-- End Main Top -->

<!-- Start Header -->
<header th:replace="fragment::main-header"></header>
<!-- End Header -->

<!-- Start Top Search -->
<div th:replace="fragment :: search"></div>
<!-- End Top Search -->

<section id="login-form">
    <div class="noi-dung">
        <div class="form">
            <h2>Log In</h2>
            <div th:if="${param.error}" class="text-center alert alert-danger">
                <p>Invalid username or password</p>
            </div>

            <div th:if="${param.logout}" class="text-center alert alert-success col-2 right" id="success">
                <p>You have been logged out</p>
            </div>

            <form th:action="@{/do-login}" method="POST">
                <div class="input-form">
                    <!-- <span>User name</span> -->
                    <input type="text" placeholder="Name" name="username">
                </div>
                <div class="input-form">
                    <!-- <span>Password</span> -->
                    <input type="password" placeholder="Password" name="password">
                </div>
                <div class="input-form">
                    <input type="submit" value="Log In">
                </div>
                <div class="input-form">
                    <p>Do You Already Have An Account ? <a th:href="@{/register}" >Sign up now </a></p>
                </div>
            </form>
            <h3>Log In With Social Network</h3>
            <ul class="icon-dang-nhap">
                <li><i class="fab fa-facebook-f"></i></i></li>
                <li><i class="fab fa-google"></i></li>
                <li><i class="fab fa-weibo"></i></li>
            </ul>
        </div>
    </div>

</section>


<!-- Start All Title Box -->
<div th:replace="fragment::instagram-box"></div>

<!-- Start Footer  -->
<footer th:replace="fragment :: footer"></footer>
<!-- End Footer  -->

<!-- End All Title Box -->
<div><a href="#" id="back-to-top" title="Back to top" style="display: none; padding-top: 8px;">&uarr;</a></div>


<!-- ALL JS FILES -->
<div th:replace="fragment::script"></div>
</body>

</html>